/* GENERAL RULES */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --main-color: #ffffff;
  --acent-color: #82b3d3;
  --secondary-color: rgba(131, 179, 211, 0.12);
  --substrate-color: #708c9e;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  background-color: #f2f2f2;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.main-container {
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  display: flex;
  width: 1200px;
  flex-grow: 1;
  background: var(--main-color);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Button */

.button {
  background-color: var(--acent-color);
  font: inherit;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.booking-button {
background-color: #756157;
}

.form-button {
  font-size: 20px;
  margin: 0;
}

.accent-button {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.reset-button {
  background-color: transparent;
}

.selected-button {
  background-color: #7db54f;
}

/* Text */

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

  /* HEADER */
  .page-header {
    background-color: var(--main-color);
  }

  /* Navigation */

  .page-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
  }

  .navigation {
    display: flex;
    width: 100%;
  }

.link-logo {
  display: block;
  margin-right: 28px;
}

.logo {
  display: block;
  width: 138px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  margin-right: 28px;
}

.hotels-in-favorites {
background-color: #7db54f;
color: #ffffff;
text-align: center;
font-size: 10px;
font-weight: 400;
line-height: 10px;
display: block;
position: static;
width: 20px;
height: 20px;
border-radius: 50%;
line-height: 20px;
align-items: center;
justify-content: center;
}

/* PAGES */

/* Hero */

.hero {
  background-color: var(--substrate-color);
  background-image: url("../images/decorative/hero/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 20px 82px;
}

.greetings {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

/*Features*/

.advantages {
  padding-top: 69px;
  margin-bottom: 64px;
}

.advantages-title {
  margin: 0 279px 20px;
}

.advantages-subtitle {
  padding-bottom: 69px;
  margin: 0 274px;
}

.features-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 103px 85px 30px;
  }

.features-text {
  margin: 0;
  padding: 30px 85px 103px;
  align-items: center;
}

.advantages-wrapper {
width: 400px;
}

.advantages-image {
  width: 800px;
  height: 385px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages {
  background-color: var(--main-color);
  text-align: center;
}

.advantages-item {
  background-color: var(--secondary-color);
  text-align: center;
  width: 400px;
}

.advantages-item-accent {
  display: flex;
  align-items: center;
  background-color: var(--acent-color);
  color: #ffffff;
  width: 1200px;

}

.advantages-item-accent .features-title {
  color: #ffffff;
}

.advantages-item-additional {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(5) {
  flex-direction: row-reverse;
}

.service {
  background-color: var(--main-color);
  text-align: center;
  margin-bottom: 96px;
}

.service-title {
  margin: 0 347px 20px;
}

.service-subtitle {
  margin: 0 355px;
  padding-bottom: 64px;
}

.service-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  text-align: center;
  width: 400px;
  box-sizing: border-box;
}

.service-item:nth-child(odd) {
  background-color: var(--secondary-color);
}

/* Booking */

.booking {
  background-color: var(--main-color);
  margin: 0 304px 96px;
}

.booking-title {
  margin-bottom: 20px;
}

.booking-subtitle {
  margin-bottom: 62px;
}

/* Subscribe */

.subscribe {
  background-color: var(--substrate-color);
  background-image: url("../images/decorative/subscribe.jpg");
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 0 104px;
}

.subscribe-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  padding: 0 362px 54px;
}

.subscribe-form {
  display: flex;
  text-align: center;
}

.input-field {
  font: inherit;
  color: #000000;
  padding: 12px 20px;
  width: 452px;
  margin-left: 258px;
  border-radius: 4px 0 0 4px;
}

.inner-subscribe {
  background-image: none;
  background-color: var(--main-color);
  color: inherit;
}

.inner-subscribe,  .subscribe-title {
  color: #000000;
}

/* Inner Header */

.inner-header {
  background-color: var(--substrate-color);
  color: #ffffff;
  background-image: url("../images/decorative/filter/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  list-style: none;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  border-style: none;
}

.catalog-filter-item {
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
}

.control-input {
  font: inherit;
}

.interval {
  line-height: 24px;
  color: #000000;
}

.price {
  font: inherit;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
}

/* Hotel card */

.search {
  margin: 0;
}

.searching-results-wrapper {
  width: 1060px;
  display: flex;
  padding: 50px 70px;
  margin: 0;
}

.hotel-card {
  background-color: var(--main-color);
}

.search .title {
  text-align: left;
}

.control-wrapper {
  width: 522px;
  display: flex;
  justify-content: flex-end;;
}

.select-control {
  font: inherit;
 }

 .hotel-card-item {
  list-style: none;
 }

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.pagination-item {
  list-style: none;
}

.pagination-link {
background-color: var(--acent-color);
color: #ffffff;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-decoration: none;
}

.pagination-current-link {
background-color: #f2f2f2;
color: #000000;
}

.pagination-hidden-link {
background-color: var(--main-color);
color: #000000;
font-size: 22px;
line-height: 26px;
}

/* FOOTER */

.page-footer {
  background-color: var(--main-color);
}

.page-footer-container {
  display: flex;
  width: 1060px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 40px 0 30px;
}

.footer-social-list {
  list-style: none;
  display: flex;
}

.footer-phone {
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}
