@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #f2f2f2;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

/* Button */

.button {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align:center;
  text-transform: uppercase;
  border: none;
}

.booking-button {
background-color: #756157;
}

.form-button {
  font-size: 20px;
}

.reset-button {
  background-color: transparent;
}

/* Text */

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  }

  /* HEADER */
  .page-header {
    background-color: #ffffff;
  }

  /* Navigation */

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration-line: underline;
}

/* PAGES */

/* Hero */

.hero {
  background-color: #83B3D3;
  background-image: url(../images/decorative/hero/background.jpg);
  width: 1200px;
  height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Advantages*/

.advantages {
  background-color: #ffffff;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-town,
.advantages-item-bridge {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title-town,
.advantages-title-bridge {
  color: #ffffff;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Service */

.service {
  background-color: #ffffff;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.service-item-food {
  background-color: #ffffff;
  text-align: center;
}

/* Booking */

.booking {
  background-color: #ffffff;
}

/* Subscribe */

.subscribe {
  background-color: #82b3d3;
  background-image: url(../images/decorative/subscribe.jpg);
  color: #ffffff;
  width: 1200px;
  height: 414.86px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  text-align: center;
}

/* Inner Header */

.filter-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.filter-form input,
.filter-form select,
.filter-form button {
  width: 100%;
  margin-bottom: 10px;
}

.inner-header {
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url(../images/decorative/filter/background.jpg);
/* Временно отключила чтобы блоки не наезжали друг на друга
  width: 1200px;
  height: 412px;  */
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/* FOOTER */

.page-footer {
  background-color: #ffffff;
}

.footer-phone {
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}
